<!DOCTYPE html>
<html>
<head>
    <title>Upload Agent Information and Image</title>
</head>
<body>
    <h2>Upload Agent Information and Image</h2>
    <form action="/upload_agent" method="POST" enctype="multipart/form-data">
        <input type="text" name="agentId" value="1">
        <label for="agentName">Agent Name:</label>
        <input type="text" name="agentName" required><br><br>

        <label for="agentContact">Agent Contact:</label>
        <input type="text" name="agentContact" required><br><br>

        <label for="agentEmail">Agent Email:</label>
        <input type="email" name="agentEmail" required><br><br>

        <label for="agentRent">Agent Rent:</label>
        <input type="number" name="agentRent" ><br><br>

        <label for="agentSold">Agent Sold:</label>
        <input type="number" name="agentSold" ><br><br>

        <label for="agencyName">Agency Name:</label>
        <input type="text" name="agencyName" required><br><br>

        <label for="file">Upload Agent Image:</label>
        <input type="file" name="agentFile" required><br><br>

        <input type="submit" value="Upload">
    </form>
</body>
</html>
